.private_user {
  background-color: #101010;
  min-height: calc(100vh - 68px);
  /* user-select: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contener-navbar-home {
  user-select: none;
  display: flex;
  justify-content: center;
  list-style: none;
  color: #101010;
  /* align-self: center; */
}
.ser{
    width: 100%;

}
.search_bar {
    
  /* width: 450px;
  position: relative;
  left: 28%; */
/* width: 60%; */
/* align-self:center ; */
}

.coachs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width:100vw;
}
.coach_bar {
  background-color: #3d3939;
  width:90%;
  padding: 10px;
  border-radius: 10px;
  
}
.coach_info {
    float: left;
}

.coach_btn Button{
  float: right;
  background-color: #A1E533;
  color: black;
  border: 0;
  /* padding: 20px; */
}
