.recipe {
  height: 400vh;
  background-color: #272727;
}
.recipe_card {
  margin-left: 200px;
  margin-right: 200px;
  background-color: #272727;
}
.ccard {
  padding: 30px;
}


.searchbar{
    width: 30pc;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    height: 60px;
    margin: 0%;
    
}
.search_bar{
padding-top: 50px;
}
.cardbody{
    height: 150px;
}
.image_card{
    height:200px;
    width: 200px;
}
.recipe_buttons{
    margin-bottom: 100px;
}
.recipe_buttons.Button{
    padding-left: 20px;
}