
.info-body{
    display: flex;
    flex-direction: column;
    padding-left : 20px;
    border-left: 1px solid gray;
    gap: 10px;

    height: 88vh;
}

.contener-info-gym-settings{
    display: flex;
    height: 18vh;
    align-items: center;
    margin-bottom: 10px;
}
.continer-image-gym-settings{
    width: 10%;
}
.image-gym-settings{
    width: 100px;
    height: 100px;
    border-radius: 57.5px;
}
.name-desc-gym-settings{
    width: 80%;
    height: 100%;
    margin-left: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.member-in-gym-settings{
    width: 10%;
    font-weight: bold;
}
.desc-gym-settings{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.name-desc-gym-settings h3,.name-desc-gym-settings p{
    margin: 0;
}

.continer-plan-settings{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}

.plan-settings{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 8px;
    background-color: #272727;
}

.name-price-month-plan-settings{
    place-items: center;
    text-align: center;
    height: 25%;
    border-radius: 8px 8px 0 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.description-plan-settings{
    height: 70%;
    max-height: 70%;
}
.description-plan-settings p{
    max-height: 100%;
    margin: 0;
    word-wrap: break-word;
    overflow-y: auto;
    padding: 2.5% 5% 2.5% 5%;
    text-align: start;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 0;
}
.select-plan-settings{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-btn-settings{
    width: 60%;
    border: 0;
    padding: 5px;
    border-radius: 4px;
    background-color: #A1E533;
    font-weight: bold;
}
.select-btn:hover{
    background-color: #73BA00;
}

.name-plan-settings{
    color: #101010;
}
.price-plan-settings{
    color: #101010;
    font-weight: bold;
    text-align: center;
}
.price-plan-settings-input{
    font-weight: bold;
    text-align: center;
    width: 25%;
}

.month-plan-settings{
    color: #101010;
}

.textarea-desc{
    width: 90%;
    margin-top: 10px;
    min-height: 100%;
    max-height: 100%;
    background-color: #272727;
    color: white;
    border: 1px solid #474747;
    border-radius: 4px;
}

.info-gym-textarea{
    min-width: fit-content;
    max-width: 100%;
    min-height: 50%;
    height: 50%;
    background-color: #272727;
    color: white;
    border: 1px solid #474747;
    border-radius: 4px;
}