.body-group{
    width: 100vw;
    height: calc(100vh - 68.8px);
}
.group-contener{
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 10px 10px 10px 10px;
}
.group-contener ul, h6{
    list-style: none;
    text-align: start;
    margin: 0;
    padding: 0;
}
.group-contener > h6{
    background-color: gray;
}
.contener-room{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.control-gym{
    display: flex;
    justify-content: space-between;
}

.contener-chat{
    width: 60%;
}
.contener-member{
    width: 20%;
}