.profile {
  height: 100vh;
  border: 50px solid #101010(0, 100, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  justify-content: center;
  border-radius: 12px;
  background-color: #272727;
  padding: 50px;
}
.profile_form .Form.Control {
  background-color: yellow;
}

.profile_img {
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
  margin-bottom: 30px;
}

/* .profile_img{
display: flex;
width: 100%;
justify-content: center;
margin-left: 10px;

}
.profile-img{
  width: 50%;
  justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #101010;
    padding: 120px;
    
  }
  .grid-item {
    background-color : #3d3939;
    border: 1px solid #A1E533;
    padding: 20px;
    font-size: 30px;
    text-align: center;
   

  }

  input{
    background-color: #A1E533;
    border-radius: 30px;
    text-align: center;
  } */
