
.profile_form {
  display: flex;
  width: 100%;
  justify-content:safe;
  height: 100%;
  padding: 110px;
 
border: 50px;
background-color: ;
}
.profile_form .Form.Control{
  background-color: yellow;
}
















/* .profile_img{
display: flex;
width: 100%;
justify-content: center;
margin-left: 10px;

}
.profile-img{
  width: 50%;
  justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #101010;
    padding: 120px;
    
  }
  .grid-item {
    background-color : #3d3939;
    border: 1px solid #A1E533;
    padding: 20px;
    font-size: 30px;
    text-align: center;
   

  }

  input{
    background-color: #A1E533;
    border-radius: 30px;
    text-align: center;
  } */