.nav-bar{
    display: flex;
    padding: 0 20px  0 20px;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    color: #D9D9D9;
    user-select: none;
}
.nav-map{
    margin: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
}
.button{
    border: 0;
    padding: 8px;
    border-radius: 4px;
    background-color: #A1E533;
}