.Private-Plan-Page{
    height: calc(100vh - 69px);
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}
.contener-info-coach{
    display: flex;
    height: 15vh;
    align-items: center;
    
}
.continer-image-coach{
    width: 10%;
}
.image-coach{
    width: 100px;
    height: 100px;
    border-radius: 57.5px;
}
.name-desc-coach{
    width: 80%;
    margin-left: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.name-coach h3,.name-coach p{
    margin: 0;
}
.container-plans{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: space-between;
}
.plan{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-radius: 8px;
    background-color: #272727;
}
.name-price-month-plan{
    height: 25%;
    border-radius: 8px 8px 0 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.description-plan{
    height: 65%;
    max-height: 65%;
}
.description-plan p{
    max-height: 100%;
    margin: 0;
    word-wrap: break-word;
    overflow-y: auto;
    padding: 2.5% 5% 2.5% 5%;
    text-align: start;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 0;
}
.select-plan{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-btn{
    width: 60%;
    border: 0;
    padding: 5px;
    border-radius: 4px;
    background-color: #A1E533;
    font-weight: bold;
}
.select-btn:hover{
    background-color: #73BA00;
}

.name-plan{
    color: #101010;
}
.price-plan{
    color: #73BA00;
    font-weight: bold;
}
.month-plan{
    color: #101010;
}