.setting-Page{
    display: flex;
    flex-direction: column;
    height:calc(100vh - 93px);
    align-items: center;
    margin-top: 25px;
}
.Items{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 75%;
    width: 90%;
    background-color: #464646;
    border-radius: 16px;
}
.Open-Private{
display: flex;
align-items: center;
justify-content: center;
gap: 25px;
}
.Plans{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    height: 100%;
    align-items: center;

}
.Plan{
    height: 90%;
    background-color: #232222;
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.inputs{
    height: 90% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Description-Input{
    text-align: left;
    height: 25%;
}
.Plan-Title{
    font-weight: bold;
    font-size:xx-large ;
}
.Sub-Duration,.Price{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.month,.num-price {
    width: 100%;
    display: flex;
}
.Save-Btn Button{
    border: 0;
    font-size: large;
    background-color: #A1E533;
    color : black;
    font-weight: bold;
}
.Save-Btn Button:hover{
    background-color: #7aad28;
    color: #000000;
}
.Save-Btn Button:disabled{
    background-color: #7aad28;
    color: #000000;
}
.SuccessMessage {
    align-self: center;
    border-radius: 4px;
    height: 60px;
    width: 100%;
    background-color: #A1E533;
    color: black;
    text-align: center;

  }
  
  .ErrorMessage {
    border-radius: 4px;
    align-self: center;
    padding: 5px;
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.402);
    color: white;
    text-align: center;
  }